{{>layouts/header}}
{{#member}}
    <form class="container" action="/members/update" method="post">
        <input type="hidden" name="id" value="{{id}}">
        <div class="mb-3">
            <label class="form-label">이메일</label>
            <input type="email" class="form-control" name="email"
                   value="{{email}}">
        </div>
        <div class="mb-3">
            <label class="form-label">비밀번호</label>
            <input type="password" class="form-control" name="password"
                   value="{{password}}">
        </div>
        <button type="submit" class="btn btn-primary">수정완료</button>
        <a href="/members">Back</a>
    </form>
{{/member}}
{{>layouts/footer}}