{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
    </tr>
    </thead>
    <tbody>
    {{#members}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/members/{{id}}">{{email}}</a></td>
            <td>{{password}}</td>
        </tr>
    {{/members}}
    </tbody>
</table>

<a href="/members/new">회원가입</a>

{{>layouts/footer}}