{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
    </tr>
    </thead>
    <tbody>
    {{#member}}
        <tr>
            <th>{{id}}</th>
            <td>{{email}}</td>
            <td>{{password}}</td>
        </tr>
    {{/member}}
    </tbody>
</table>

<a href="/members/{{member.id}}/edit" class="btn btn-primary">수정하기</a>
<a href="/members/{{member.id}}/delete" class="btn btn-danger">삭제하기</a>
<a href="/members">Go to member list</a>

{{>layouts/footer}}